.root {
    padding: '2px 4px';
    display: 'flex';
    align-items: 'center';
    width: 400;
}

.input {
    margin-left: 8;
    flex: 1;
}

.icon {
    margin-left: 4px;
}

.iconButton {
    padding: 10px;
}

.button {
    margin: 4px;
}